$menu-light:  #dfe6e9;
$black: #000000 ;
$mazerine-blue:  #273c75;
$Hover-lightblue: #405899 ;
$Gray:#84817a  ;
$Whitesmock:#F5F5F5;

//Font-familie 
//menu
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
$menu-font:'Lato', sans-serif;

//text
@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&family=Source+Serif+4:ital,wght@1,200&display=swap');
$text-font:'Source Serif 4', sans-serif;