header{
    display: flex;
    justify-content: flex-end;
    width: 6rem;
    height: 100%;
    float: right;
    z-index: 1;
    top: 0;
    left: 0;
    position: sticky;
    margin-top: -20rem;
  
}
nav .top_menu{
    background: $menu-light;
    margin-top: 10px;
    margin-right: 10px;
    width: 100px;
    display: block;
    text-align: center;
    list-style: none;
}
nav .top_menu li{
   
    width: 100px;
}
li .Item{ 

    border-bottom: 0.5px solid $black;
     font-weight: 900;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    color: $black;
    font-family: $menu-font;
    box-shadow: 0 0 2px 5px rgba(0, 0, 0, 0.3); 
}
li .Item:hover{
    box-shadow: 0 0 2px 5px rgba(0, 0, 0, 0.1);
   
}